.home-section {
  text-align: center;
  margin-top: 3rem;
}

.titulo-home {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.descricao-home {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0 auto 2rem;
  color: white;
}

.btn-explore {
  padding: 12px 24px;
  background-color: #ff6600; /* Laranja forte sempre */
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-explore:hover {
  background-color: #cc5200; /* Laranja mais escuro no hover */
}
