.home-section {
  max-width: 1300px;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  color: white;
}

.titulo-home {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.descricao-home {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-explore {
  background-color: #ff6600;
  color: black;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-explore:hover {
  background-color: #cc5200;
}

/* Responsivo */
@media (max-width: 768px) {
  .titulo-home {
    font-size: 2rem;
  }

  .descricao-home {
    font-size: 1rem;
  }

  .btn-explore {
    width: 100%;
    display: inline-block;
  }
}
